.Toggle{
    
}


.Toggle .checkmark {
    color:green;
    float: right;
    background-color:black;
    border-radius:5px;
    padding-left:4px;
    padding-right:4px;
    margin-top:8px;
    position:relative;
    right:-35px


}

.Toggle button {
    float:right;
    padding-left:40px;
    

}